# Supabase API (Client & Server Components)
NEXT_PUBLIC_SUPABASE_URL=https://your-project-id.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-or-publishable-key
# PostgreSQL Direct Connection
DATABASE_URL=postgresql://postgres:your-password@db.your-project-id.supabase.co:5432/postgres
# (Optional) Supabase Service Role Key (Backend Admin)
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
# RESEND
RESEND_API_KEY=re_sua_chave_aqui
# ou onboarding@resend.dev para testes
RESEND_FROM_EMAIL=Seu Nome <contato@seudominio.com>